  #search {
    position: absolute;
  top: 30px;
  left: 30px;

  border: 1px solid silver;
  border-radius: 15px;

  font-family: Roboto;
  font-size: 15px;
  font-weight: lighter;
  text-align: center;

  padding: 10px;
  z-index: 100;
  width: 250px;
  }

  #search:focus {
    border-color: #4d90fe;
  }

  agm-map {
    height: 400px;
  }